*{
    background-image: url(../img/password-2271736_1280.jpeg);
    font-family: 'Russo One', sans-serif;
}

.container{ 
    display: flex;
    justify-content: center;
     align-items:center;
     margin-top: 200px;
     color: white;
     font-size: 25px;      
}

.clave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 10px white;
    width: 500px;
    height: 300px;
}

select{
    color: white;
    width: 3rem;
    height: 2rem;
    font-size: 20px;
    text-align: justify;
    border: white solid 3px;
}

button{
    color: white;
    text-align: center;
    font-size: 20px;
    border: white solid 3px;
    margin-top: 20px;
}